# Universal SQL Data Loader

## Get Superlinked

<div class="alert alert-block alert-warning">
Set <code>YOUR_GITHUB_TOKEN</code> in the URL below.<br>To get your token follow the instructions in the <a href="../README.md">README.md</a>.
</div>

In [ ]:
%pip install "https://us-central1-data-359211.cloudfunctions.net/github-proxy/superlinked-0.1.0-py3-none-any.whl?token=YOUR_GITHUB_TOKEN"

Collecting superlinked==0.1.0
  Downloading https://us-central1-data-359211.cloudfunctions.net/github-proxy/superlinked-0.1.0-py3-none-any.whl?token=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 (57 kB)
     ---------------------------------------- 0.0/57.8 kB ? eta -:--:--
     ---------------------------------------- 57.8/57.8 kB 3.0 MB/s eta 0:00:00
Requirement already satisfied: jsonpath-ng in c:\users\nomadic\appdata\roaming\pypoetry\venv\lib\site-packages (from superlinked==0.1.0) (1.6.0)
Requirement already satisfied: numpy in c:\users\nomadic\appdata\roaming\pypoetry\venv\lib\site-packages (from superlinked==0.1.0) (1.25.0)
Requirement already satisfied: pandas in c:\users\nomadic\appdata\roaming\pypoetry\venv\lib\site-packages (from superlinked==0.1.0) (2.0.2)
Requirement already satisfied: sentence-transformers in c:\users\nomadic\appdata\roaming\pypoetry\venv\lib\site-packages (from superlinked==0.1.0) (2.2.2)
Requirement already satisfied: typing-extensions in c:\users\nomadic\appdata\roaming\pypoetry\venv\lib\site-packages (from superlinked==0.1.0) (4.8.0)
Requirement already satisfied: ply in c:\users\nomadic\appdata\roaming\pypoetry\venv\lib\site-packages (from jsonpath-ng->superlinked==0.1.0) (3.11)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\nomadic\appdata\roaming\pypoetry\venv\lib\site-packages (from pandas->superlinked==0.1.0) (2.8.2)
Requirement already satisfied: pytz>=2020.1 in c:\users\nomadic\appdata\roaming\pypoetry\venv\lib\site-packages (from pandas->superlinked==0.1.0) (2023.3)
Requirement already satisfied: tzdata>=2022.1 in c:\users\nomadic\appdata\roaming\pypoetry\venv\lib\site-packages (from pandas->superlinked==0.1.0) (2023.3)
Requirement already satisfied: transformers<5.0.0,>=4.6.0 in c:\users\nomadic\appdata\roaming\pypoetry\venv\lib\site-packages (from sentence-transformers->superlinked==0.1.0) (4.30.0)
Requirement already satisfied: tqdm in c:\users\nomadic\appdata\roaming\pypoetry\venv\lib\site-packages (from sentence-transformers->superlinked==0.1.0) (4.66.1)
Requirement already satisfied: torch>=1.6.0 in c:\users\nomadic\appdata\roaming\pypoetry\venv\lib\site-packages (from sentence-transformers->superlinked==0.1.0) (2.1.0)
Requirement already satisfied: torchvision in c:\users\nomadic\appdata\roaming\pypoetry\venv\lib\site-packages (from sentence-transformers->superlinked==0.1.0) (0.16.0)
Requirement already satisfied: scikit-learn in c:\users\nomadic\appdata\roaming\pypoetry\venv\lib\site-packages (from sentence-transformers->superlinked==0.1.0) (1.3.2)
Requirement already satisfied: scipy in c:\users\nomadic\appdata\roaming\pypoetry\venv\lib\site-packages (from sentence-transformers->superlinked==0.1.0) (1.11.3)
Requirement already satisfied: nltk in c:\users\nomadic\appdata\roaming\pypoetry\venv\lib\site-packages (from sentence-transformers->superlinked==0.1.0) (3.8.1)
Requirement already satisfied: sentencepiece in c:\users\nomadic\appdata\roaming\pypoetry\venv\lib\site-packages (from sentence-transformers->superlinked==0.1.0) (0.1.99)
Requirement already satisfied: huggingface-hub>=0.4.0 in c:\users\nomadic\appdata\roaming\pypoetry\venv\lib\site-packages (from sentence-transformers->superlinked==0.1.0) (0.17.3)
Requirement already satisfied: filelock in c:\users\nomadic\appdata\roaming\pypoetry\venv\lib\site-packages (from huggingface-hub>=0.4.0->sentence-transformers->superlinked==0.1.0) (3.11.0)
Requirement already satisfied: fsspec in c:\users\nomadic\appdata\roaming\pypoetry\venv\lib\site-packages (from huggingface-hub>=0.4.0->sentence-transformers->superlinked==0.1.0) (2023.12.1)
Requirement already satisfied: requests in c:\users\nomadic\appdata\roaming\pypoetry\venv\lib\site-packages (from huggingface-hub>=0.4.0->sentence-transformers->superlinked==0.1.0) (2.31.0)
Requirement already satisfied: pyyaml>=5.1 in c:\users\nomadic\appdata\roaming\pypoetry\venv\lib\site-packages (from huggingface-hub>=0.4.0->sentence-transformers->superlinked==0.1.0) (6.0)
Requirement already satisfied: packaging>=20.9 in c:\users\nomadic\appdata\roaming\pypoetry\venv\lib\site-packages (from huggingface-hub>=0.4.0->sentence-transformers->superlinked==0.1.0) (23.0)
Requirement already satisfied: six>=1.5 in c:\users\nomadic\appdata\roaming\pypoetry\venv\lib\site-packages (from python-dateutil>=2.8.2->pandas->superlinked==0.1.0) (1.16.0)
Requirement already satisfied: sympy in c:\users\nomadic\appdata\roaming\pypoetry\venv\lib\site-packages (from torch>=1.6.0->sentence-transformers->superlinked==0.1.0) (1.12)
Requirement already satisfied: networkx in c:\users\nomadic\appdata\roaming\pypoetry\venv\lib\site-packages (from torch>=1.6.0->sentence-transformers->superlinked==0.1.0) (3.2.1)
Requirement already satisfied: jinja2 in c:\users\nomadic\appdata\roaming\pypoetry\venv\lib\site-packages (from torch>=1.6.0->sentence-transformers->superlinked==0.1.0) (3.1.2)
Requirement already satisfied: colorama in c:\users\nomadic\appdata\roaming\pypoetry\venv\lib\site-packages (from tqdm->sentence-transformers->superlinked==0.1.0) (0.4.6)
Requirement already satisfied: regex!=2019.12.17 in c:\users\nomadic\appdata\roaming\pypoetry\venv\lib\site-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers->superlinked==0.1.0) (2023.10.3)
Requirement already satisfied: tokenizers!=0.11.3,<0.14,>=0.11.1 in c:\users\nomadic\appdata\roaming\pypoetry\venv\lib\site-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers->superlinked==0.1.0) (0.13.3)
Requirement already satisfied: safetensors>=0.3.1 in c:\users\nomadic\appdata\roaming\pypoetry\venv\lib\site-packages (from transformers<5.0.0,>=4.6.0->sentence-transformers->superlinked==0.1.0) (0.4.0)
Requirement already satisfied: click in c:\users\nomadic\appdata\roaming\pypoetry\venv\lib\site-packages (from nltk->sentence-transformers->superlinked==0.1.0) (8.1.3)
Requirement already satisfied: joblib in c:\users\nomadic\appdata\roaming\pypoetry\venv\lib\site-packages (from nltk->sentence-transformers->superlinked==0.1.0) (1.3.2)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\nomadic\appdata\roaming\pypoetry\venv\lib\site-packages (from scikit-learn->sentence-transformers->superlinked==0.1.0) (3.2.0)
Requirement already satisfied: pillow!=8.3.*,>=5.3.0 in c:\users\nomadic\appdata\roaming\pypoetry\venv\lib\site-packages (from torchvision->sentence-transformers->superlinked==0.1.0) (9.5.0)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\nomadic\appdata\roaming\pypoetry\venv\lib\site-packages (from jinja2->torch>=1.6.0->sentence-transformers->superlinked==0.1.0) (2.1.2)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\nomadic\appdata\roaming\pypoetry\venv\lib\site-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers->superlinked==0.1.0) (3.1.0)
Requirement already satisfied: idna<4,>=2.5 in c:\users\nomadic\appdata\roaming\pypoetry\venv\lib\site-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers->superlinked==0.1.0) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\nomadic\appdata\roaming\pypoetry\venv\lib\site-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers->superlinked==0.1.0) (1.26.15)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\nomadic\appdata\roaming\pypoetry\venv\lib\site-packages (from requests->huggingface-hub>=0.4.0->sentence-transformers->superlinked==0.1.0) (2022.12.7)
Requirement already satisfied: mpmath>=0.19 in c:\users\nomadic\appdata\roaming\pypoetry\venv\lib\site-packages (from sympy->torch>=1.6.0->sentence-transformers->superlinked==0.1.0) (1.3.0)
Note: you may need to restart the kernel to use updated packages.

DEPRECATION: pytorch-lightning 1.6.5 has a non-standard dependency specifier torch>=1.8.*. pip 24.0 will enforce this behaviour change. A possible replacement is to upgrade to a newer version of pytorch-lightning or contact the author to suggest that they release a version with a conforming dependency specifiers. Discussion can be found at https://github.com/pypa/pip/issues/12063

## Imports and constants

In [ ]:
import pandas as pd
from sqlalchemy import create_engine, text
from sshtunnel import SSHTunnelForwarder
import concurrent.futures
import threading
import queue
from datetime import datetime, timezone
import pytz
import time
import tkinter as tk
from tkinter import ttk

from superlinked.framework.common.dag.recency_node import PeriodTimeParam
from superlinked.framework.common.schema.schema import schema, IdField, String, Timestamp, Integer, Map, SchemaObject
from superlinked.framework.common.parser.dataframe_parser import DataFrameParser
from superlinked.framework.dsl.executor.in_memory.in_memory_executor import InMemoryExecutor, InMemoryApp
from superlinked.framework.dsl.index.index import Index
from superlinked.framework.dsl.query.param import Param
from superlinked.framework.dsl.query.query import Query
from superlinked.framework.dsl.query.result import Result
from superlinked.framework.dsl.source.in_memory_source import InMemorySource
from superlinked.framework.dsl.space.text_similarity_space import TextSimilaritySpace
from superlinked.framework.dsl.space.recency_space import RecencySpace

# Configuration Variables
DB_CONFIG = {
    'dbname': 'your_dbname',
    'user': 'your_user',
    'password': 'your_password',
    'host': 'your_host',
    'port': '5432'
}

SSH_TUNNEL_CONFIG = {
    'ssh_host': 'bastion_host',
    'ssh_port': 22,
    'ssh_username': 'your_ssh_username',
    'ssh_password': 'your_ssh_password'  # or use 'ssh_pkey' for key-based authentication
}

USE_SSH_TUNNEL = False  # Set to True if SSH tunnel is required

MODEL = "sentence-transformers/paraphrase-MiniLM-L3-v2"
YEAR_IN_DAYS = 365
TOP_N = 10

# Shared variables and lock for progress tracking
progress_lock = threading.Lock()
processed_rows = 0
total_rows = 0

## Method Definitions

In [ ]:
def get_ordered_result_tuples(result: Result, top_n: int) -> list[tuple[int]]:
    return [(i+1, int(entity.id_.object_id)) for i, entity in enumerate(result.entities[:top_n])]

def get_items_by_id_list(id_list_tuple: list[tuple[int]], df: pd.DataFrame) -> pd.DataFrame:
    if df.index.name != "id":
        df = df.set_index("id")
    result_df = df.loc[[id_tuple[1] for id_tuple in id_list_tuple]]
    print(result_df)
    result_df["order"] = [id_tuple[0] for id_tuple in id_list_tuple]
    return result_df

def parse_results(result: Result, df: pd.DataFrame, top_n: int = TOP_N) -> pd.DataFrame:
    id_tuples = get_ordered_result_tuples(result=result, top_n=top_n)
    return get_items_by_id_list(id_list_tuple=id_tuples, df=df)

def map_postgres_type_to_field(pg_type, is_primary_key=False):
    if is_primary_key:
        return IdField

    mapping = {
        'character varying': String,
        'varchar': String,
        'char': String,
        'text': String,
        'uuid': String,
        'int': Integer,
        'integer': Integer,
        'bigint': Integer,
        'smallint': Integer,
        'real': Integer,  # Assuming real numbers are handled as integers, adjust if needed
        'double precision': Integer,  # Adjust if needed
        'numeric': Integer,  # Adjust if needed
        'decimal': Integer,  # Adjust if needed
        'boolean': Integer,  # Assuming boolean is handled as integer, adjust if needed
        'timestamp': Timestamp,
        'timestamp with time zone': Timestamp,
        'timestamp without time zone': Timestamp,
        'date': Timestamp,
        'json': Map,
        'jsonb': Map,
        'hstore': Map,
    }

    return mapping.get(pg_type, String)  # Default to String if type not found

def to_camel_case(snake_str):
    components = snake_str.split('_')
    return ''.join(x.title() for x in components)

def create_class(table_name, table_schema):
    class_name = to_camel_case(table_name) + "Schema"

    class_attributes = {'__annotations__': {}}
    for col_name, field_cls in table_schema.items():
        class_attributes['__annotations__'][col_name] = field_cls

    # Dynamically creating the class
    dynamic_class = type(class_name, (), class_attributes)
    # Applying the @schema decorator to transform the class
    decorated_class = schema(dynamic_class)  # Ensure 'schema' here refers to the decorator
    # Assign the class to Global Scope
    globals()[class_name] = decorated_class

    return decorated_class

def process_table(table, engine, total_rows):
    global processed_rows
    with engine.connect() as conn:
        # Use SQLAlchemy to read the table into a DataFrame
        df = pd.read_sql_table(table, conn)

        # Execute schema information query
        schema_query = text(f"""
            SELECT
                c.column_name,
                c.data_type,
                CASE
                    WHEN tc.constraint_type = 'PRIMARY KEY' THEN TRUE
                    ELSE FALSE
                END as is_primary_key
            FROM
                information_schema.columns c
                LEFT JOIN information_schema.key_column_usage kcu
                    ON c.table_name = kcu.table_name AND c.column_name = kcu.column_name
                LEFT JOIN information_schema.table_constraints tc
                    ON kcu.constraint_name = tc.constraint_name
            WHERE
                c.table_name = '{table}' AND c.table_schema = 'public'
        """)
        result = conn.execute(schema_query)
        schema_info = result.fetchall()

        # Mapping PostgreSQL data types to your schema classes
        schema = {col[0]: map_postgres_type_to_field(col[1], col[2]) for col in schema_info}

        # Create a class for this table
        cls = create_class(table, schema)

        # Update progress
        with progress_lock:
            # Retrieve row count for this table for progress calculation
            row_count_result = conn.execute(text(f"SELECT COUNT(*) FROM {table}"))
            current_table_rows = row_count_result.fetchone()[0]

            processed_rows += current_table_rows
            progress = (processed_rows / total_rows) * 100
            print(f"Completed {table}: {progress:.2f}% complete")

        return table, df, schema, cls

def load_postgres_tables_and_schemas(db_config, use_ssh_tunnel=False, ssh_config=None):
    global total_rows
    # Setup SSH tunnel if required
    if use_ssh_tunnel and ssh_config:
        tunnel = SSHTunnelForwarder(
            (ssh_config['ssh_host'], ssh_config['ssh_port']),
            ssh_username=ssh_config['ssh_username'],
            ssh_password=ssh_config['ssh_password'],
            remote_bind_address=(db_config['host'], int(db_config['port']))
        )
        tunnel.start()
        host = '127.0.0.1'
        port = tunnel.local_bind_port
    else:
        host = db_config['host']
        port = db_config['port']

     # Setup SQLAlchemy engine
    db_uri = f"postgresql://{db_config['user']}:{db_config['password']}@{host}:{port}/{db_config['dbname']}"
    engine = create_engine(db_uri)

    # Get table names
    with engine.connect() as conn:
        result = conn.execute(text("SELECT table_name FROM information_schema.tables WHERE table_schema = 'public'"))
        tables = [row[0] for row in result]

    # Get total row count for all tables for progress calculation
    with engine.connect() as conn:
        for table in tables:
            row_count_result = conn.execute(text(f"SELECT COUNT(*) FROM {table}"))
            row_count, = row_count_result.fetchone()
            total_rows += row_count

    dataframes = {}
    schemas = {}
    classes = {}

    # Parallel processing of tables
    with concurrent.futures.ThreadPoolExecutor() as executor:
        futures = {executor.submit(process_table, table, engine, total_rows): table for table in tables}
        for future in concurrent.futures.as_completed(futures):
            table = futures[future]
            try:
                table, df, schema, cls = future.result()
                df = df.fillna('')
                # INTRODUCE DATETIME FORMAT DETECTION AND CONVERSION TO UNIX EPOCH TIME HERE
                df.head()
                dataframes[table] = df
                schemas[table] = schema
                classes[table] = cls
                # print(f"Completed processing {table}")
            except Exception as e:
                print(f"Error processing table {table}: {e}")

    if use_ssh_tunnel and ssh_config:
        tunnel.stop()

    print("Data processing completed.")
    return dataframes, schemas, classes

## Pull data from DB into DataFrames and auto-generate the Classes

In [ ]:
# Run the script
total_rows = 0
processed_rows = 0
dataframes, schemas, classes = load_postgres_tables_and_schemas(DB_CONFIG, USE_SSH_TUNNEL, SSH_TUNNEL_CONFIG)

Completed auth_group: 0.00% complete
Completed django_content_type: 0.00% complete
Completed django_migrations: 0.01% complete
Completed organizations_organization: 0.01% complete
Completed django_session: 0.29% complete
Completed auth_permission: 0.30% complete
Completed auth_user: 1.01% complete
Completed artists_artist: 1.05% complete
Completed account_emailaddress: 1.32% complete
Completed account_emailconfirmation: 1.32% complete
Completed artists_artist_genres: 1.33% complete
Completed django_site: 1.33% complete
Completed clubs_club_genres: 1.33% complete
Completed events_timetype: 1.33% complete
Completed events_event_organizations: 1.35% complete
Completed events_compticket: 1.87% complete
Completed events_act: 1.94% complete
Completed events_event: 1.96% complete
Completed events_referal: 1.97% complete
Completed events_tickettype: 2.00% complete
Completed fan_campaigns_fancampaign: 2.00% complete
Completed orders_promocode: 2.02% complete
Completed events_promotion: 2.04% complete
Completed contact_forms_contactformresponse: 2.06% complete
Completed pages_page: 2.06% complete
Completed fan_campaigns_question: 2.06% complete
Completed fan_campaigns_fancampaign_events: 2.06% complete
Completed events_ticketinventory: 2.12% complete
Completed profiles_permission: 2.12% complete
Completed events_ticketinventory_allowed_promo_codes: 2.14% complete
Completed promoters_promoter_genres: 2.14% complete
Completed profiles_profile: 2.85% complete
Completed press_soundcloudshare: 2.85% complete
Completed socialaccount_socialaccount: 2.85% complete
Completed press_pressrelease: 2.85% complete
Completed events_tickettransfer: 2.93% complete
Completed orders_promocode_events: 2.96% complete
Completed thumbnail_kvstore: 2.96% complete
Completed promoters_promoter: 2.96% complete
Completed profiles_role: 2.96% complete
Completed reversion_version: 3.01% complete
Completed orders_orderticketinventory: 4.32% complete
Completed profiles_profile_roles: 4.32% complete
Completed socialaccount_socialapp_sites: 4.32% complete
Completed fan_campaigns_fancampaignresponse: 4.32% complete
Completed socialaccount_socialapp: 4.32% complete
Completed reversion_revision: 4.33% complete
Completed orders_promocodeuse: 4.45% complete
Completed socialaccount_socialtoken: 4.45% complete
Completed genres_genre: 4.45% complete
Completed orders_order: 5.75% complete
Completed django_admin_log: 5.78% complete
Completed profiles_role_allowed_permissions: 5.78% complete
Completed organizations_stripeterminal: 5.78% complete
Completed auth_group_permissions: 5.78% complete
Completed blox_cache_table: 5.79% complete
Completed white_labels_whitelabel_artists: 5.79% complete
Completed white_labels_sociallink: 5.79% complete
Completed white_labels_whitelabel_clubs: 5.79% complete
Completed white_labels_whitelabel: 5.79% complete
Completed white_labels_whitelabel_promoters: 5.79% complete
Completed events_eventsubpromoter: 5.80% complete
Completed white_labels_whitelabel_resident_artists: 5.80% complete
Completed authtoken_token: 5.80% complete
Completed clubs_club: 5.81% complete
Completed auth_user_groups: 5.81% complete
Completed orders_doororder: 5.81% complete
Completed auth_user_user_permissions: 5.81% complete
Completed fan_campaigns_fancampaignresponsequestion: 5.81% complete
Completed events_ticket: 7.56% complete
Completed tracking_entry: 100.00% complete
Data processing completed.

### We can now use variables dataframes, schemas, and classes
Print out the data to visually inspect and verify.

In [ ]:
print("\nCreated Classes and DataFrame Summaries:")
for table_name, cls in classes.items():
    print(f"\nClass for table '{table_name}': {cls()}")

    print("\nFields:")
    for field_name, field_type in schemas[table_name].items():
        print(f"  {field_name}: {field_type.__name__}")

    print(f"\nDataFrame Summary for '{table_name}':")
    dataframes[table_name].info()

Created Classes and DataFrame Summaries:

Class for table 'django_content_type': <superlinked.framework.common.schema.schema.DecoratedType object at 0x00000143A23C1050>

Fields:
  id: IdField
  app_label: String
  model: String

DataFrame Summary for 'django_content_type':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 52 entries, 0 to 51
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         52 non-null     int64
 1   app_label  52 non-null     object
 2   model      52 non-null     object
dtypes: int64(1), object(2)
memory usage: 1.3+ KB

Class for table 'auth_group': <superlinked.framework.common.schema.schema.DecoratedType object at 0x00000143EEC13B90>

Fields:
  id: IdField
  name: String

DataFrame Summary for 'auth_group':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      0 non-null      int64
 1   name    0 non-null      object
dtypes: int64(1), object(1)
memory usage: 124.0+ bytes

Class for table 'django_migrations': <superlinked.framework.common.schema.schema.DecoratedType object at 0x00000143F889F750>

Fields:
  id: IdField
  app: String
  name: String
  applied: Timestamp

DataFrame Summary for 'django_migrations':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 210 entries, 0 to 209
Data columns (total 4 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   id       210 non-null    int64
 1   app      210 non-null    object
 2   name     210 non-null    object
 3   applied  210 non-null    datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), int64(1), object(2)
memory usage: 6.7+ KB

Class for table 'organizations_organization': <superlinked.framework.common.schema.schema.DecoratedType object at 0x00000143EF2D86D0>

Fields:
  id: IdField
  date_created: Timestamp
  date_modified: Timestamp
  name: String
  slug: String
  contact_form_email: String
  stripe_access_token: String
  stripe_publishable_key: String
  stripe_refresh_token: String
  stripe_user_id: String
  ticket_fee_percentage: Integer
  ticket_fee_flat: Integer
  ticket_fee_flat_currency: String
  sendy_email_address: String
  sendy_password: String
  sendy_list_id: String
  demo_mode: Integer
  referral_code: String
  referral_code_owner: String

DataFrame Summary for 'organizations_organization':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 312 entries, 0 to 311
Data columns (total 19 columns):
 #   Column                    Non-Null Count  Dtype
---  ------                    --------------  -----
 0   id                        312 non-null    int64
 1   date_created              312 non-null    datetime64[ns, UTC]
 2   date_modified             312 non-null    datetime64[ns, UTC]
 3   name                      312 non-null    object
 4   slug                      312 non-null    object
 5   contact_form_email        312 non-null    object
 6   stripe_access_token       312 non-null    object
 7   stripe_publishable_key    312 non-null    object
 8   stripe_refresh_token      312 non-null    object
 9   stripe_user_id            312 non-null    object
 10  ticket_fee_percentage     312 non-null    float64
 11  ticket_fee_flat           312 non-null    float64
 12  ticket_fee_flat_currency  312 non-null    object
 13  sendy_email_address       312 non-null    object
 14  sendy_password            312 non-null    object
 15  sendy_list_id             312 non-null    object
 16  demo_mode                 312 non-null    bool
 17  referral_code             312 non-null    object
 18  referral_code_owner       312 non-null    object
dtypes: bool(1), datetime64[ns, UTC](2), float64(2), int64(1), object(13)
memory usage: 44.3+ KB

Class for table 'django_session': <superlinked.framework.common.schema.schema.DecoratedType object at 0x00000143F287A2D0>

Fields:
  session_key: IdField
  session_data: String
  expire_date: Timestamp

DataFrame Summary for 'django_session':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11244 entries, 0 to 11243
Data columns (total 3 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   session_key   11244 non-null  object
 1   session_data  11244 non-null  object
 2   expire_date   11244 non-null  datetime64[ns, UTC]
dtypes: datetime64[ns, UTC](1), object(2)
memory usage: 263.7+ KB

Class for table 'auth_permission': <superlinked.framework.common.schema.schema.DecoratedType object at 0x00000143F261E010>

Fields:
  id: IdField
  name: String
  content_type_id: Integer
  codename: String

DataFrame Summary for 'auth_permission':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 208 entries, 0 to 207
Data columns (total 4 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               208 non-null    int64
 1   name             208 non-null    object
 2   content_type_id  208 non-null    int64
 3   codename         208 non-null    object
dtypes: int64(2), object(2)
memory usage: 6.6+ KB

Class for table 'auth_user': <superlinked.framework.common.schema.schema.DecoratedType object at 0x00000143F47F92D0>

Fields:
  id: IdField
  password: String
  last_login: Timestamp
  is_superuser: Integer
  username: String
  first_name: String
  last_name: String
  email: String
  is_staff: Integer
  is_active: Integer
  date_joined: Timestamp

DataFrame Summary for 'auth_user':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 28615 entries, 0 to 28614
Data columns (total 11 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            28615 non-null  int64
 1   password      28615 non-null  object
 2   last_login    25717 non-null  datetime64[ns, UTC]
 3   is_superuser  28615 non-null  bool
 4   username      28615 non-null  object
 5   first_name    28615 non-null  object
 6   last_name     28615 non-null  object
 7   email         28615 non-null  object
 8   is_staff      28615 non-null  bool
 9   is_active     28615 non-null  bool
 10  date_joined   28615 non-null  datetime64[ns, UTC]
dtypes: bool(3), datetime64[ns, UTC](2), int64(1), object(5)
memory usage: 1.8+ MB

Class for table 'artists_artist': <superlinked.framework.common.schema.schema.DecoratedType object at 0x00000143F1DF11D0>

Fields:
  id: IdField
  date_created: Timestamp
  date_modified: Timestamp
  name: String
  slug: String
  creator_id: Integer
  last_modifier_id: Integer
  description: String
  image: String

DataFrame Summary for 'artists_artist':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1628 entries, 0 to 1627
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                1628 non-null   int64
 1   date_created      1628 non-null   datetime64[ns, UTC]
 2   date_modified     1628 non-null   datetime64[ns, UTC]
 3   name              1628 non-null   object
 4   slug              1628 non-null   object
 5   creator_id        1628 non-null   object
 6   last_modifier_id  1628 non-null   object
 7   description       1628 non-null   object
 8   image             1628 non-null   object
dtypes: datetime64[ns, UTC](2), int64(1), object(6)
memory usage: 114.6+ KB

Class for table 'account_emailaddress': <superlinked.framework.common.schema.schema.DecoratedType object at 0x00000143F44EBAD0>

Fields:
  id: IdField
  email: String
  verified: Integer
  primary: Integer
  user_id: Integer

DataFrame Summary for 'account_emailaddress':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 11069 entries, 0 to 11068
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        11069 non-null  int64
 1   email     11069 non-null  object
 2   verified  11069 non-null  bool
 3   primary   11069 non-null  bool
 4   user_id   11069 non-null  int64
dtypes: bool(2), int64(2), object(1)
memory usage: 281.2+ KB

Class for table 'account_emailconfirmation': <superlinked.framework.common.schema.schema.DecoratedType object at 0x00000143F3F58A10>

Fields:
  id: IdField
  created: Timestamp
  sent: Timestamp
  key: String
  email_address_id: Integer

DataFrame Summary for 'account_emailconfirmation':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 5 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                0 non-null      int64
 1   created           0 non-null      datetime64[ns, UTC]
 2   sent              0 non-null      datetime64[ns, UTC]
 3   key               0 non-null      object
 4   email_address_id  0 non-null      int64
dtypes: datetime64[ns, UTC](2), int64(2), object(1)
memory usage: 124.0+ bytes

Class for table 'artists_artist_genres': <superlinked.framework.common.schema.schema.DecoratedType object at 0x00000143F292EC10>

Fields:
  id: IdField
  artist_id: Integer
  genre_id: Integer

DataFrame Summary for 'artists_artist_genres':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 151 entries, 0 to 150
Data columns (total 3 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         151 non-null    int64
 1   artist_id  151 non-null    int64
 2   genre_id   151 non-null    int64
dtypes: int64(3)
memory usage: 3.7 KB

Class for table 'django_site': <superlinked.framework.common.schema.schema.DecoratedType object at 0x00000143F9417390>

Fields:
  id: IdField
  domain: String
  name: String

DataFrame Summary for 'django_site':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1 entries, 0 to 0
Data columns (total 3 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      1 non-null      int64
 1   domain  1 non-null      object
 2   name    1 non-null      object
dtypes: int64(1), object(2)
memory usage: 152.0+ bytes

Class for table 'clubs_club_genres': <superlinked.framework.common.schema.schema.DecoratedType object at 0x00000143F26CD7D0>

Fields:
  id: IdField
  club_id: Integer
  genre_id: Integer

DataFrame Summary for 'clubs_club_genres':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 3 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   id        20 non-null     int64
 1   club_id   20 non-null     int64
 2   genre_id  20 non-null     int64
dtypes: int64(3)
memory usage: 608.0 bytes

Class for table 'events_timetype': <superlinked.framework.common.schema.schema.DecoratedType object at 0x00000143F8BF6AD0>

Fields:
  id: IdField
  date_created: Timestamp
  date_modified: Timestamp
  name: String
  slug: String

DataFrame Summary for 'events_timetype':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9 entries, 0 to 8
Data columns (total 5 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             9 non-null      int64
 1   date_created   9 non-null      datetime64[ns, UTC]
 2   date_modified  9 non-null      datetime64[ns, UTC]
 3   name           9 non-null      object
 4   slug           9 non-null      object
dtypes: datetime64[ns, UTC](2), int64(1), object(2)
memory usage: 488.0+ bytes

Class for table 'events_event_organizations': <superlinked.framework.common.schema.schema.DecoratedType object at 0x00000143A1D2C890>

Fields:
  id: IdField
  event_id: Integer
  organization_id: Integer

DataFrame Summary for 'events_event_organizations':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 906 entries, 0 to 905
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               906 non-null    int64
 1   event_id         906 non-null    int64
 2   organization_id  906 non-null    int64
dtypes: int64(3)
memory usage: 21.4 KB

Class for table 'events_compticket': <superlinked.framework.common.schema.schema.DecoratedType object at 0x00000143F1F295D0>

Fields:
  id: IdField
  date_created: Timestamp
  date_modified: Timestamp
  number: String
  first_name: String
  last_name: String
  was_used: Integer
  date_used: Timestamp
  event_id: Integer
  is_vip: Integer

DataFrame Summary for 'events_compticket':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20752 entries, 0 to 20751
Data columns (total 10 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             20752 non-null  int64
 1   date_created   20752 non-null  datetime64[ns, UTC]
 2   date_modified  20752 non-null  datetime64[ns, UTC]
 3   number         20752 non-null  object
 4   first_name     20752 non-null  object
 5   last_name      20752 non-null  object
 6   was_used       20752 non-null  object
 7   date_used      9696 non-null   datetime64[ns, UTC]
 8   event_id       20752 non-null  int64
 9   is_vip         20752 non-null  bool
dtypes: bool(1), datetime64[ns, UTC](3), int64(2), object(4)
memory usage: 1.4+ MB

Class for table 'events_act': <superlinked.framework.common.schema.schema.DecoratedType object at 0x00000143F253B050>

Fields:
  id: IdField
  is_headliner: Integer
  artist_id: Integer
  event_id: Integer
  date_created: Timestamp
  date_modified: Timestamp
  sort_order: Integer

DataFrame Summary for 'events_act':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3000 entries, 0 to 2999
Data columns (total 7 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             3000 non-null   int64
 1   is_headliner   3000 non-null   bool
 2   artist_id      3000 non-null   int64
 3   event_id       3000 non-null   int64
 4   date_created   3000 non-null   datetime64[ns, UTC]
 5   date_modified  3000 non-null   datetime64[ns, UTC]
 6   sort_order     3000 non-null   object
dtypes: bool(1), datetime64[ns, UTC](2), int64(3), object(1)
memory usage: 143.7+ KB

Class for table 'events_event': <superlinked.framework.common.schema.schema.DecoratedType object at 0x00000143F20B6890>

Fields:
  id: IdField
  date_created: Timestamp
  date_modified: Timestamp
  slug: String
  date: Timestamp
  age_limit: Integer
  image: String
  venue_id: Integer
  description: String
  time1: String
  time2: String
  time1_type_id: Integer
  time2_type_id: Integer
  private: Integer
  venue_undisclosed: Integer
  title: String
  sale_ended: Integer
  metadata_image: String
  draft: Integer
  release_date: Timestamp
  creator_id: Integer
  last_modifier_id: Integer
  white_label_only: Integer
  deleted: Integer

DataFrame Summary for 'events_event':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 926 entries, 0 to 925
Data columns (total 24 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 926 non-null    int64
 1   date_created       926 non-null    datetime64[ns, UTC]
 2   date_modified      926 non-null    datetime64[ns, UTC]
 3   slug               926 non-null    object
 4   date               926 non-null    datetime64[ns]
 5   age_limit          926 non-null    int64
 6   image              926 non-null    object
 7   venue_id           926 non-null    int64
 8   description        926 non-null    object
 9   time1              926 non-null    object
 10  time2              926 non-null    object
 11  time1_type_id      926 non-null    int64
 12  time2_type_id      926 non-null    object
 13  private            926 non-null    bool
 14  venue_undisclosed  926 non-null    bool
 15  title              926 non-null    object
 16  sale_ended         926 non-null    bool
 17  metadata_image     926 non-null    object
 18  draft              926 non-null    bool
 19  release_date       782 non-null    datetime64[ns, UTC]
 20  creator_id         926 non-null    object
 21  last_modifier_id   926 non-null    int64
 22  white_label_only   926 non-null    bool
 23  deleted            926 non-null    bool
dtypes: bool(6), datetime64[ns, UTC](3), datetime64[ns](1), int64(5), object(9)
memory usage: 135.8+ KB

Class for table 'events_referal': <superlinked.framework.common.schema.schema.DecoratedType object at 0x00000143F253A790>

Fields:
  id: IdField
  date_created: Timestamp
  date_modified: Timestamp
  description: String
  views: Integer
  event_id: Integer
  subpromoter_id: Integer
  orders: Integer
  tickets_sold: Integer

DataFrame Summary for 'events_referal':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 93 entries, 0 to 92
Data columns (total 9 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   id              93 non-null     int64
 1   date_created    93 non-null     datetime64[ns, UTC]
 2   date_modified   93 non-null     datetime64[ns, UTC]
 3   description     93 non-null     object
 4   views           93 non-null     int64
 5   event_id        93 non-null     int64
 6   subpromoter_id  93 non-null     object
 7   orders          93 non-null     int64
 8   tickets_sold    93 non-null     int64
dtypes: datetime64[ns, UTC](2), int64(5), object(2)
memory usage: 6.7+ KB

Class for table 'events_tickettype': <superlinked.framework.common.schema.schema.DecoratedType object at 0x00000143F292EC10>

Fields:
  id: IdField
  date_created: Timestamp
  date_modified: Timestamp
  name: String
  slug: String
  creator_id: Integer
  last_modifier_id: Integer
  organization_id: Integer

DataFrame Summary for 'events_tickettype':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 1184 entries, 0 to 1183
Data columns (total 8 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   id                1184 non-null   int64
 1   date_created      1184 non-null   datetime64[ns, UTC]
 2   date_modified     1184 non-null   datetime64[ns, UTC]
 3   name              1184 non-null   object
 4   slug              1184 non-null   object
 5   creator_id        1184 non-null   object
 6   last_modifier_id  1184 non-null   object
 7   organization_id   1184 non-null   object
dtypes: datetime64[ns, UTC](2), int64(1), object(5)
memory usage: 74.1+ KB

Class for table 'fan_campaigns_fancampaign': <superlinked.framework.common.schema.schema.DecoratedType object at 0x00000143F47522D0>

Fields:
  id: IdField
  date_created: Timestamp
  date_modified: Timestamp
  name: String
  slug: String
  start_date: Timestamp
  end_date: Timestamp
  organization_id: Integer

DataFrame Summary for 'fan_campaigns_fancampaign':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 0 entries
Data columns (total 8 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   id               0 non-null      int64
 1   date_created     0 non-null      datetime64[ns, UTC]
 2   date_modified    0 non-null      datetime64[ns, UTC]
 3   name             0 non-null      object
 4   slug             0 non-null      object
 5   start_date       0 non-null      datetime64[ns]
 6   end_date         0 non-null      datetime64[ns]
 7   organization_id  0 non-null      int64
dtypes: datetime64[ns, UTC](2), datetime64[ns](2), int64(2), object(2)
memory usage: 124.0+ bytes

Class for table 'orders_promocode': <superlinked.framework.common.schema.schema.DecoratedType object at 0x0000014380FD18D0>

Fields:
  id: IdField
  date_created: Timestamp
  date_modified: Timestamp
  code: String
  discount_percent: Integer
  discount_amount_currency: String
  discount_amount: Integer
  number_available: Integer
  number_currently_available: Integer
  expiration_date: Timestamp
  creator_id: Integer
  last_modifier_id: Integer
  organization_id: Integer
  deleted: Integer

DataFrame Summary for 'orders_promocode':
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 941 entries, 0 to 940
Data columns (total 14 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----

## Semi Optimized Paradigm
In this next section we have two semi optimized examples, each making use of our programatically generated classes and dataframes. I've hardcodes keys for two classes that have been created using my ticket platform's PostgreSQL DB.

In [ ]:
event_class = classes['events_event']
event_instance = event_class()
event_title_space = TextSimilaritySpace(text=event_instance.title, model=MODEL)
event_description_space = TextSimilaritySpace(text=event_instance.description, model=MODEL)
event_index = Index(spaces=[event_title_space, event_description_space])
event_df_parser = DataFrameParser(schema=event_instance)
event_source: InMemorySource = InMemorySource(event_instance, parser=event_df_parser)

artist_class = classes['artists_artist']
artist_instance = artist_class()
artist_name_space = TextSimilaritySpace(text=artist_instance.name, model=MODEL)
artist_description_space = TextSimilaritySpace(text=artist_instance.description, model=MODEL)
artist_index = Index(spaces=[artist_name_space, artist_description_space])
artist_df_parser = DataFrameParser(schema=artist_instance)
artist_source: InMemorySource = InMemorySource(artist_instance, parser=artist_df_parser)

executor: InMemoryExecutor = InMemoryExecutor(sources=[event_source, artist_source], indices=[event_index, artist_index])
app: InMemoryApp = executor.run()

event_source.put([dataframes['events_event']])
artist_source.put([dataframes['artists_artist']])

Let's create and run some simple queries on Artists and Events. ***Note** - we run both queries using the same InMemoryApp.

In [ ]:
simple_event_query = (
    Query(event_index, weights={
        event_title_space: Param("event_title_weight"),
        event_description_space: Param("event_description_weight")
    })
    .find(event_instance)
    .similar(event_title_space.text, Param("query_text"))
    .similar(event_description_space.text, Param("query_text"))
)

simple_artist_query = (
    Query(artist_index, weights={
        artist_name_space: Param("artist_name_weight"),
        artist_description_space: Param("artist_description_weight")
    })
    .find(artist_instance)
    .similar(artist_name_space.text, Param("query_text"))
    .similar(artist_description_space.text, Param("query_text"))
)

result: Result = app.query(
    simple_event_query,
    query_text="Tied presents",
    event_description_weight=1,
    event_title_weight=1
)
parse_results(result, dataframes['events_event'], 10)

result: Result = app.query(
    simple_artist_query,
    query_text="Dabura",
    artist_description_weight=1,
    artist_name_weight=1
)
parse_results(result, dataframes['artists_artist'], 10)

                         date_created                    date_modified  \
id
94   2019-11-19 17:24:46.927000+00:00 2019-12-02 16:40:47.760000+00:00
748  2022-11-18 18:35:03.350379+00:00 2022-11-18 19:24:42.986523+00:00
794  2023-01-02 11:50:29.528024+00:00 2023-01-21 10:27:37.799068+00:00
1093 2023-10-10 00:18:26.492236+00:00 2023-10-20 02:23:11.360050+00:00
415  2022-01-26 15:02:30.572000+00:00 2022-02-19 00:29:19.531000+00:00
1135 2023-11-16 17:51:00.938912+00:00 2023-11-16 17:51:00.984611+00:00
74   2020-01-27 19:11:50.785000+00:00 2020-02-16 00:19:02.356000+00:00
404  2021-07-31 16:07:22.717000+00:00 2021-07-31 16:53:41.495000+00:00
241  2021-10-05 12:18:54.854000+00:00 2021-11-06 03:40:41.565000+00:00
503  2022-05-25 13:17:27.471000+00:00 2022-06-23 19:02:06.222000+00:00

                                          slug       date  age_limit  \
id
94      pragmatik-x-tied-presents-suciu-funk-e 2019-12-08         21
748   tied-presents-minibar-showcase-w-cabanne 2022-12-10         21
794                     tied-presents-dana-ruh 2023-01-20         21
1093                        tied-presents-lizz 2023-11-04         21
415                                   kDlmfX77 2022-02-18         21
1135      tied-presents-noha-live-max-jacobson 2023-11-17         21
74                    tied-presents-sakro-snad 2020-02-16         21
404                        tied-presents-arapu 2021-09-10         21
241                        tied-presents-priku 2021-11-05         21
503                                   00w07OHz 2022-06-25         21

                                          image  venue_id  \
id
94         9895dbdb955eda75dcc82b89bfbf1da1.jpg        20
748    8be004e4-5524-4223-bad8-1cd2a1f87b9e.jpg       288
794   a45e805d-7a21-4237-8437-e04d6a9e5c8b.jpeg       351
1093   7500cc61-86f7-412a-a496-4446bc321674.jpg        70
415        bb0f5004ed593fcc230c4ae7aee8760f.png         2
1135   f3f19864-a8bd-4807-aebe-6ff21ee2ac0d.jpg        50
74         89465ef7c56e0cfb7381de34dfccba52.jpg        97
404        3cb00fabd7f73035899a2734370a8ad8.png         2
241        90ff78d1e2835bd18df8004c4cf23b4b.jpg         2
503        9c13a79c861bffa8af51750a286ea2ca.png       111

                                            description     time1     time2  \
id
94    Pragmatik and Tied presents a special ''Winter...  16:00:00  01:00:00
748   December 10th we're going back to our undergro...  22:00:00  06:00:00
794   TIED PRESENTS: Dana Ruh\n\nOn support: \n- Chr...  22:00:00  04:00:00
1093  We're back at FMK November 4th with Romanian h...  22:00:00  03:00:00
415   To celebrate our love to you, for the Valentin...  23:00:00  07:00:00
1135  We welcome Noha for a special live set! With r...  22:00:00  02:00:00
74    We're back for some more underground fun on Fe...  00:00:00  07:00:00
404   After he had to cancel his last gig for our si...  22:00:00  07:00:00
241   It's been over four years since Priku played a...  22:00:00  06:00:00
503    TIED 9 YEAR ANNIVERSARY: Saturday, June 25th...  16:00:00  19:30:00

      ...  venue_undisclosed  \
id    ...
94    ...              False
748   ...               True
794   ...              False
1093  ...              False
415   ...               True
1135  ...              False
74    ...               True
404   ...               True
241   ...               True
503   ...              False

                                                  title  sale_ended  \
id
94             Pragmatik x Tied presents Suciu & Funk E       False
748         Tied Presents: Minibar Showcase w/ Cabanne        False
794                             Tied Presents: Dana Ruh       False
1093                                Tied Presents: Lizz       False
415                               Tied presents: Shonky       False
1135           Tied Presents: Noha (Live), Max Jacobson       False
74                          Tied Presents: Sakro + Snad       False
404                                Tied Presents: Arapu       False
241                                Tied Presents: Priku       False
503   Tied 9 Year Anniversary Boat Party w/ Cesar Me...       False

                                         metadata_image  draft  \
id
94                                                       False
748                                                      False
794                                                      False
1093                                                     False
415   #e35424,#6f90a3,#245c74,#1c2334,#e4896c,#ff652...  False
1135                                                     False
74                                                       False
404   #2e5c74,#957b6f,#346c84,#4f3e37,#f0ac9c,#376e8...  False
241   #2896bf,#3f7990,#04274c,#343c44,#56acd0,#30b4e...  False
503   #1baaa3,#6f7778,#0ca3cb,#0b1415,#c9e2f0,#20ccc...  False

                  release_date creator_id  last_modifier_id white_label_only  \
id
94   2019-11-19 17:24:46+00:00     7865.0                 2            False
748  2022-11-18 18:09:03+00:00     7918.0              7918            False
794  2023-01-02 11:23:45+00:00     7918.0              7865            False
1093 2023-10-09 23:59:22+00:00     7918.0              7865            False
415                        NaT     7865.0                 2            False
1135 2023-11-16 17:49:22+00:00     7918.0              7918            False
74   2020-01-27 19:11:50+00:00     7865.0                 2            False
404  2021-07-31 15:56:13+00:00     7865.0                 2            False
241  2021-10-05 12:03:23+00:00     7865.0                 2            False
503  2022-05-25 07:15:00+00:00     7865.0                 2            False

     deleted
id
94     False
748    False
794    False
1093   False
415    False
1135   False
74     False
404    False
241    False
503    False

[10 rows x 23 columns]
                         date_created                    date_modified  \
id
1452 2023-04-04 22:43:23.855363+00:00 2023-04-05 19:47:55.366555+00:00
1075 2022-07-26 18:01:33.357000+00:00 2022-07-26 18:01:33.357000+00:00
1424 2023-03-08 19:31:53.489953+00:00 2023-03-08 19:31:53.489980+00:00
247  2019-02-20 21:37:25.819000+00:00 2019-02-20 21:37:25.819000+00:00
1478 2023-05-04 19:45:52.341205+00:00 2023-05-04 19:45:52.341231+00:00
1079 2022-08-05 20:52:55.232000+00:00 2022-08-05 20:52:55.232000+00:00
266  2019-03-12 18:18:42.393000+00:00 2019-03-12 18:18:42.393000+00:00
6    2019-06-20 18:10:04.097000+00:00 2019-06-20 18:10:04.097000+00:00
322  2018-12-14 11:11:30.980000+00:00 2018-12-14 11:11:30.980000+00:00
533  2021-09-07 18:12:15.589000+00:00 2021-09-07 18:12:15.589000+00:00

                    name              slug creator_id last_modifier_id  \
id
1452              Dabura            dabura     7865.0           7865.0
1075     DABURA & ROSTEK   dabura-_-rostek
1424     DABURA & ROSTEK     dabura-rostek
247   Dabura (B-Day Set)  dabura-b-day-set
1478    Dabura B2B Watry  dabura-b2b-watry
1079               Daaku             daaku
266       Dabura ft. Raj     dabura-ft-raj
6      Dabura & Raj & Mo     dabura-raj-mo
322                 Dag              dago
533                 DAVI              davi

     description image
id
1452
1075
1424
247
1478
1079
266
6
322
533

,date_created,date_modified,name,slug,creator_id,last_modifier_id,description,image,order
id,,,,,,,,,
1452,2023-04-04 22:43:23.855363+00:00,2023-04-05 19:47:55.366555+00:00,Dabura,dabura,7865.0,7865.0,,,1
1075,2022-07-26 18:01:33.357000+00:00,2022-07-26 18:01:33.357000+00:00,DABURA & ROSTEK,dabura-_-rostek,,,,,2
1424,2023-03-08 19:31:53.489953+00:00,2023-03-08 19:31:53.489980+00:00,DABURA & ROSTEK,dabura-rostek,,,,,3
247,2019-02-20 21:37:25.819000+00:00,2019-02-20 21:37:25.819000+00:00,Dabura (B-Day Set),dabura-b-day-set,,,,,4
1478,2023-05-04 19:45:52.341205+00:00,2023-05-04 19:45:52.341231+00:00,Dabura B2B Watry,dabura-b2b-watry,,,,,5
1079,2022-08-05 20:52:55.232000+00:00,2022-08-05 20:52:55.232000+00:00,Daaku,daaku,,,,,6
266,2019-03-12 18:18:42.393000+00:00,2019-03-12 18:18:42.393000+00:00,Dabura ft. Raj,dabura-ft-raj,,,,,7
6,2019-06-20 18:10:04.097000+00:00,2019-06-20 18:10:04.097000+00:00,Dabura & Raj & Mo,dabura-raj-mo,,,,,8
322,2018-12-14 11:11:30.980000+00:00,2018-12-14 11:11:30.980000+00:00,Dag,dago,,,,,9
533,2021-09-07 18:12:15.589000+00:00,2021-09-07 18:12:15.589000+00:00,DAVI,davi,,,,,10

## Updated Paradigm
In this section we use a GUI to select tables and programatically load all sources and indices into a single executor. We also keep track of instantiated class schemas and the dynamically generated spaces.

In [ ]:
# Define a dict to store everything
app_data = {}

# Loop through each class in the classes dictionary
for table_name, class_def in classes.items():
    class_instance = class_def()
    class_spaces = []
    class_fields_spaces_dict = {}

    # Iterate over the schema to create spaces for text-based fields only
    for field_name, field_type in schemas[table_name].items():
        # Check if the field is of a type that is compatible with TextSimilaritySpace
        if field_type.__name__ in ['String']:  # Include only text-like fields (for now)
            text_field = getattr(class_instance, field_name, None)
            if text_field is not None:
                # Create a TextSimilaritySpace for the text field
                class_space = TextSimilaritySpace(text=text_field, model=MODEL)
                class_spaces.append(class_space)
                class_fields_spaces_dict[field_name] = class_space

    if class_spaces:
        # Create an index, DataFrameParser, and source for the class
        class_index = Index(spaces=class_spaces)
        class_df_parser = DataFrameParser(schema=class_instance)
        class_source = InMemorySource(class_instance, parser=class_df_parser)

        # Add the instance, source, index, parser, and spaces to app_data
        app_data[table_name] = {'instance': class_instance, 'index': class_index, 'source': class_source, 'spaces': class_fields_spaces_dict}

# Create an executor using app_data and run the application
executor = InMemoryExecutor(sources=[x['source'] for x in app_data.values()], indices=[x['index'] for x in app_data.values()])
app = executor.run()

In [ ]:
def create_table_selection_gui(tables, on_submit):
    root = tk.Tk()
    root.title("Select Tables to Process")

    # Create a queue to store selected tables
    table_queue = queue.Queue()

    # Frame for the checkboxes and scrollbar
    frame = ttk.Frame(root)
    frame.pack(fill=tk.BOTH, expand=True)

    # Canvas for adding the scrollbar
    canvas = tk.Canvas(frame)
    canvas.pack(side=tk.LEFT, fill=tk.BOTH, expand=True)

    # Scrollbar
    scrollbar = ttk.Scrollbar(frame, orient=tk.VERTICAL, command=canvas.yview)
    scrollbar.pack(side=tk.RIGHT, fill=tk.Y)

    # Configure canvas
    canvas.configure(yscrollcommand=scrollbar.set)
    canvas.bind('<Configure>', lambda e: canvas.configure(scrollregion=canvas.bbox("all")))

    # Function to handle mouse wheel scroll
    def _on_mousewheel(event):
        canvas.yview_scroll(int(-1*(event.delta/120)), "units")

    # Bind the scroll event for Windows and macOS
    canvas.bind("<MouseWheel>", _on_mousewheel)
    # For Linux, you may need to bind to Button-4 and Button-5 instead
    # canvas.bind("<Button-4>", _on_mousewheel)
    # canvas.bind("<Button-5>", _on_mousewheel)

    # Frame for checkboxes
    checkbox_frame = ttk.Frame(canvas)
    canvas.create_window((0, 0), window=checkbox_frame, anchor="nw")

    # Variable to store selected tables
    selected_tables = []

    def submit_and_close():
        for table, var in checkboxes.items():
            if var.get():
                table_queue.put(table)
        root.destroy()

    # Create a checkbox for each table
    checkboxes = {table: tk.BooleanVar() for table in tables}
    for table, var in checkboxes.items():
        ttk.Checkbutton(checkbox_frame, text=table, variable=var).pack()

    # Submit button
    submit_button = ttk.Button(root, text="Submit", command=submit_and_close)
    submit_button.pack()

    root.mainloop()

    # After the GUI is closed, process each table in the queue
    while not table_queue.empty():
        table_name = table_queue.get()
        process_table(table_name)

def process_table(table_name):
    if table_name in dataframes and dataframes[table_name] is not None:
        print(f"Processing table: {table_name}")
        primary_key_field = next((field_name for field_name, field_type in schemas[table_name].items() if field_type.__name__ == 'IdField'), None)
        print(f"Detected primary key: {primary_key_field}")
        if primary_key_field == 'id':
            filtered_df = dataframes[table_name].dropna(subset=[primary_key_field])
            if not filtered_df.empty:
                app_data[table_name]['source'].put([filtered_df])
                print(f"Data has been added for table {table_name}")
            else:
                print(f"No data to add for table {table_name}")
        else:
            print(f"Skipping table {table_name} due to missing IdField as primary key.")
    else:
        print(f"Table {table_name} not found or has no data")

# Call GUI and Vectorize selected tables
create_table_selection_gui(dataframes.keys(), process_table)

Processing table: artists_artist
Detected primary key: id
Data has been added for table artists_artist
Processing table: promoters_promoter
Detected primary key: id
Data has been added for table promoters_promoter
Processing table: clubs_club
Detected primary key: id
Data has been added for table clubs_club

In [ ]:
# Automatically build a simple query simply by passing in a table name
def build_query(table_name):
    table_data = app_data[table_name]
    instance = table_data['instance']
    index = table_data['index']
    spaces = table_data['spaces']

    weights = {}
    weight_params = {}

    # Dynamically generate weights and parameter names
    for field_name, space in spaces.items():
        weight_param_name = f"{table_name}_{field_name}_weight"
        weights[space] = Param(weight_param_name)
        weight_params[weight_param_name] = 1  # Example default value

    # Build the query
    query = Query(index, weights=weights).find(instance)
    for field_name, space in spaces.items():
        query = query.similar(space.text, Param("query_text"))

    return query, weight_params

# Example usage
query, weight_params = build_query('artists_artist')
print(weight_params) # e.g., {'artists_artist_name_weight': 1, 'artists_artist_slug_weight': 1, 'artists_artist_description_weight': 1, 'artists_artist_image_weight': 1}

# Easily adjust the weights by modifying the dict
weight_params['artists_artist_name_weight'] = 10
weight_params['artists_artist_image_weight'] = 0

# Example of executing the query
result = app.query(
    query,
    query_text="Dabura",
    **weight_params  # Unpack the weight parameters here
)
parsed_results = parse_results(result, dataframes['artists_artist'], 10)

{'artists_artist_name_weight': 1, 'artists_artist_slug_weight': 1, 'artists_artist_description_weight': 1, 'artists_artist_image_weight': 1}
                         date_created                    date_modified  \
id
1452 2023-04-04 22:43:23.855363+00:00 2023-04-05 19:47:55.366555+00:00
1424 2023-03-08 19:31:53.489953+00:00 2023-03-08 19:31:53.489980+00:00
1075 2022-07-26 18:01:33.357000+00:00 2022-07-26 18:01:33.357000+00:00
247  2019-02-20 21:37:25.819000+00:00 2019-02-20 21:37:25.819000+00:00
1478 2023-05-04 19:45:52.341205+00:00 2023-05-04 19:45:52.341231+00:00
1079 2022-08-05 20:52:55.232000+00:00 2022-08-05 20:52:55.232000+00:00
266  2019-03-12 18:18:42.393000+00:00 2019-03-12 18:18:42.393000+00:00
6    2019-06-20 18:10:04.097000+00:00 2019-06-20 18:10:04.097000+00:00
322  2018-12-14 11:11:30.980000+00:00 2018-12-14 11:11:30.980000+00:00
533  2021-09-07 18:12:15.589000+00:00 2021-09-07 18:12:15.589000+00:00

                    name              slug creator_id last_modifier_id  \
id
1452              Dabura            dabura     7865.0           7865.0
1424     DABURA & ROSTEK     dabura-rostek
1075     DABURA & ROSTEK   dabura-_-rostek
247   Dabura (B-Day Set)  dabura-b-day-set
1478    Dabura B2B Watry  dabura-b2b-watry
1079               Daaku             daaku
266       Dabura ft. Raj     dabura-ft-raj
6      Dabura & Raj & Mo     dabura-raj-mo
322                 Dag              dago
533                 DAVI              davi

     description image
id
1452
1424
1075
247
1478
1079
266
6
322
533

In [ ]:
# Example usage
another_query, more_weight_params = build_query('promoters_promoter')
more_weight_params['promoters_promoter_name_weight'] = 10

# Example of executing the query
result = app.query(
    another_query,
    query_text="The Blox Office",
    **more_weight_params  # Unpack the weight parameters here
)
parsed_results = parse_results(result, dataframes['promoters_promoter'], 10)

                        date_created                    date_modified  \
id
43  2018-12-19 00:14:11.671000+00:00 2018-12-19 00:14:11.671000+00:00
135 2019-11-19 13:24:23.224000+00:00 2019-11-19 13:24:23.224000+00:00
173 2022-04-10 15:28:18.991000+00:00 2022-04-10 15:28:18.991000+00:00
233 2022-12-01 20:14:04.309467+00:00 2022-12-01 20:14:04.309481+00:00
428 2023-11-20 01:08:33.602174+00:00 2023-11-20 01:08:33.602199+00:00
94  2021-07-08 06:21:51.354000+00:00 2021-07-08 06:21:51.354000+00:00
57  2018-11-08 13:45:13.757000+00:00 2018-11-08 13:45:13.757000+00:00
411 2023-11-14 07:42:37.666172+00:00 2023-11-14 07:42:37.666198+00:00
414 2023-11-16 01:44:07.406288+00:00 2023-11-16 01:44:07.406319+00:00
13  2019-04-29 12:32:10.625000+00:00 2019-04-29 12:32:10.625000+00:00

                      name                   slug
id
43         The Blox Office        the-blox-office
135    The Blox Office NYE        blox-office-nye
173              Brunchlox              brunchlox
233        The Silver Room        the-silver-room
428                      V                      v
94               Artispure              artispure
57   Headquarters Beercade  headquarters-beercade
411                      L                      l
414                      l                      l
13           The GoodSpace          the-goodspace